{% extends "base.html" %}
{% block head %}
<title>{% block tile %}Khattri{% endblock %}</title>
{% endblock %}


{% block content %}
    <h1>
        {% if name %}
            Hello, {{ name }}!
        {% else %}
            Hello, Stranger!
        {% endif %}
    </h1>
    <p>The local date and time is {{ moment(current_time).format('LLL') }}</p>
    <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>

    <form  method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }}<br>
        {{ form.name() }} <br><br>
        {{ form.submit() }}
    </form>
{% endblock %}
